.profile-setup-container {
  padding: 1rem 5%;
  max-width: 600px;
  margin: auto;
}

.profile-form .form-group {
  margin-bottom: 1rem;
}

.dropdown-options {
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}
